@model IEnumerable<EstateDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@(!Model.Any() ? "No Estates" : "Your Estates")</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Estate" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> &nbsp; Add New Estate
            </a>
        </div>
    </div>
</div>
<br />


<div class="container mt-5">
    <div class="row">
        @foreach (var estate in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card estate-card">
                    <img class="card-img-top fixed-thumbnail" src="@estate.ThumbnailImageUrl" alt="@estate.PropertyName">
                    <div class="card-body">
                        <h4 class="card-title">@estate.PropertyName</h4>
                        <h5 class="card-text estate-type">@estate.EstateType</h5>
                        <div class="address-section">
                            <p class="card-text"><span class="label">Address:</span><br>@estate.StreetName @estate.PropertyNumber, @estate.City</p>
                        </div>
                        <p class="card-text cost-per-day">Cost Per Day: <span>@estate.CostPerDay.ToString("C")</span></p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Upsert" class="btn btn-primary btn-block" asp-route-id="@estate.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>